@import '../../../mixins';

.peaky-block {
    width: 100%;
    height: 470px;
    background: linear-gradient(-75deg,
            #DADADA 62.01%,
            #000 62.01%,
            #000 62.1%,
            #F8F8F8 62.2%);

    @include respond-to('tablet') {
        background: linear-gradient(-80deg,
                #DADADA 60.01%,
                #000 60.01%,
                #000 60.1%,
                #F8F8F8 60.2%);
        height: 550px;
    }

    @include respond-to('desktop') {
        background: linear-gradient(-60deg,
                #DADADA 50.01%,
                #000 50.01%,
                #000 50.1%,
                #F8F8F8 50.2%);
        height: 600px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__img {
        margin-top: 75px;
        width: 42%;
        height: 100%;
        background-image: url(../../../img/mainPage/peaky.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;

        @include respond-to('tablet') {
            width: 45%;
        }

        @include respond-to('desktop') {
            background-position: center;
            width: 45%;

        }
    }

    &__content {
        width: 55%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #767676;
        font-weight: 400;

        @include respond-to('tablet') {
            padding: 30px;
            gap: 10px;
            font-size: 16px;
        }

        @include respond-to('desktop') {
            width: 45%;
            padding: 60px;
            gap: 20px;
        }
    }

    &__text {
        margin: 0;
        max-width: 500px;
    }

    &__description {
        background-color: none;
        color: #000;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
    }

    &__size {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        margin: 0;

        &--btn {
            background-color: #000;
            color: #fff;
            padding: 4px 10px;
            border-radius: 7px;
            font-size: 14px;
            font-weight: 500;
            margin: 0;

            @include respond-to('tablet') {
                font-size: 16px;
                padding: 6px 20px;
                border-radius: 10px;
            }
        }
    }

    &__price {
        color: #000;
        font-size: 28px;
        font-weight: 600px;
        margin: 0;
    }

    &__button {
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 10px 50px;
        color: #fff;
        background-color: #000;
        border-radius: 10px;
        width: 100px;
        cursor: pointer;

        @include btn-drop();
        
        @include respond-to('tablet') {
            padding: 15px 60px;
        }

        @include respond-to('desktop') {
            padding: 20px 70px;
            width: fit-content;
        }
    }
}