@import '../../../mixins';

.subscribe-block {
    min-height: calc(100vh - 323px);
    width: 100%;

    @include respond-to("tablet") {
        min-height: calc(100vh - 157px);
    }

        @include respond-to("desktop") {
        min-height: calc(100vh - 169px);
    }

    &__container {
        box-sizing: border-box;
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        height: calc(100vh - 150px);
    }

    &__img {
        align-self: stretch;
        flex: 0 0 350px;
        background-image: url(../../../img/mainPage/subscribe/left.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &.right {
            background-image: url(../../../img/mainPage/subscribe/right.png);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        font-family: "Poppins";
        font-size: 22px;
        line-height: 26px;

        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.12));

        &--email {
            margin: 0;
            margin-top: 30px;
            color: #8A8A8A;
        }

        &--text {
            text-align: center;
        }
    }

    &__btn {
        margin-inline: auto;
        padding: 20px 45px;
        background-color: #000;
        color: #fff;
        width: fit-content;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Poppins";

        @include btn-drop();
    }
}