@import "../../mixins";

.main-page {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond-to("tablet") {
        gap: 80px;
    }

    @include respond-to("desktop") {
        gap: 150px;
    }

    @include content-padding();


    &__content-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        &.first {
            padding-top: 32px;

            @include respond-to("tablet") {
                padding-top: 64px;
            }

            @include respond-to("desktop") {
                padding-top: 150px;
            }
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 500;
        font-family: "Volkhov", serif;
        color: #484848;
        margin: 0;
        padding: 0;

        white-space: nowrap;

        @include respond-to('tablet') {
            font-size: 35px;
        }

        @include respond-to('desktop') {
            font-size: 42px;
        }
    }

    &__text {
        font-family: "Poppins", sans-serif;
        line-height: 18px;
        font-size: 12px;
        font-weight: 500;
        color: #8A8A8A;
        margin: 0;
        max-width: 600px;

        @include respond-to('tablet') {
            line-height: 22px;
            font-size: 14px;
        }

        @include respond-to('desktop') {
            line-height: 26px;
            font-size: 16px;
        }
    }

    &__block {
        display: grid;
        gap: 24px;
        align-items: start;
        min-height: 100vh;

        @include display-grid();
    }

    &__photo {
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        height: 100%;
        background-color: #E0E0E0;
        border-radius: 10px;
        width: 100%;
        justify-content: end;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @include respond-to('tablet') {
            grid-column: span 2;
        }

        @include respond-to('desktop') {
            grid-column: span 5;
        }

        &.tablet--watch {
            display: none;

            @include respond-to('tablet') {
                display: flex;
                grid-column: 4 / span 2;

                img {
                    height: 75%;
                }
            }

            @include respond-to('desktop') {
                display: none;

                img {
                    height: 100%;
                }
            }
        }

        &.tablet--delete {
            display: flex;

            @include respond-to('tablet') {
                display: none;
            }

            @include respond-to('desktop') {
                display: flex;
            }
        }

        img {
            max-width: 100%;
            height: 75%;
            max-height: 570px;
            object-fit: contain;
            display: block;
            object-position: center bottom;
        }
    }

    &__center {
        grid-column: span 5;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 140px;
            padding: 5px 5px 0 5px;
            background-color: #E0E0E0;
            border-radius: 10px;
            object-fit: contain;
            object-position: center bottom;
            display: block;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &.bottom {
                background-color: #F29C8E;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;

            @include respond-to('tablet') {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                h2 {
                    grid-column: 1 / span 3;
                }

                h1 {
                    grid-column: 3 / span 3;
                }

                h3 {
                    grid-column: 1 / span 3;
                }

                .main-page__center__button {
                    grid-column: 4 / span 2;
                }

            }

            @include respond-to('desktop') {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h2 {
                font-size: 75px;
                color: #484848;
                letter-spacing: -0.04em;
                margin: 0;
                font-weight: 600;
            }

            h1 {
                font-size: 165px;
                letter-spacing: -0.057em;
                margin: 0;
                color: transparent;
                -webkit-text-stroke: 2px #484848;
                -webkit-text-fill-color: transparent;
                line-height: 100%;
            }

            h3 {
                letter-spacing: 0.1em;
                font-size: 20px;
                color: #484848;
                margin: 0;
                font-weight: 500;
            }
        }

        &__button {
            margin: 19px 0 19px 0;
            padding: 20px 60px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            background-color: #000;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;

        }
    }

    &__partners {
        @include display-grid();

        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: left;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0 54px 0;
        padding: 0;

        @include respond-to('tablet') {
            margin: 15px 0 72px 0;
            align-items: center;
            flex-direction: row;
        }

        @include respond-to('desktop') {
            margin: 9px 0 82px 0;
        }

        &__item {
            background: url('../../img/mainPage/partners/logo.png') no-repeat left / contain;
            background-position: left;
            width: 250px;
            height: 32px;
            grid-column: span 2;

            @include respond-to('tablet') {
                grid-column: span 1;
            }

            @include respond-to('desktop') {
                grid-column: span 3;
                width: 100%;
            }

            &--2 {
                background: url('../../img/mainPage/partners/logo (1).png') no-repeat left / contain;
            }

            &--3 {
                background: url('../../img/mainPage/partners/logo (2).png') no-repeat left / contain;
            }

            &--4 {
                background: url('../../img/mainPage/partners/logo (3).png') no-repeat left / contain;
            }

            &--5 {
                background: url('../../img/mainPage/partners/logo (4).png') no-repeat left / contain;
            }

        }
    }

    &__block-pictures {
        width: 100%;
        box-sizing: border-box;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 0;
        align-items: center;
        justify-content: center;

        @include respond-to('tablet') {
            padding-top: 50px;
        }

        @include respond-to('desktop') {
            padding-top: 80px;
        }

        &--item {
            width: 100px;
            height: 150px;
            margin: 0;
            padding: 0;
            object-fit: cover;
            object-position: top;

            @include respond-to('tablet') {
                width: 180px;
                height: 260px;
            }

            @include respond-to('desktop') {
                width: 256px;
                height: 380px;
            }

            &:first-child {
                width: auto;
                flex-grow: 1;
            }

            &:last-child {
                width: auto;
                flex-grow: 1;
            }
        }

        &--small {
            height: 120px;

            @include respond-to('tablet') {
                height: 210px;
            }

            @include respond-to('desktop') {
                height: 300px;
            }
        }
    }
}

.time-slider-block {
    background-color: #FAFAFA;
    padding: 32px 0 32px 0;

    @include respond-to('tablet') {
        padding: 45px 0 45px 0;

    }

    @include respond-to('desktop') {
        padding: 155px 0 145px 0;

    }

    &__container {
        @include display-grid();

        padding-inline: 16px;


        @include respond-to('tablet') {
            padding-inline: 0;
            padding-left: 32px;
        }

        @include respond-to('desktop') {
            padding: 0;
            margin-left: calc((100vw - 1024px) / 2);
        }

        @include respond-to('desktop-standart') {
            margin-left: calc((100vw - 1072px) / 2);
        }
    }
}

.opportunity {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 32px 30px 64px 30px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;

    @include respond-to('tablet') {
        flex-direction: row;
        padding: 60px 30px 80px 30px;

    }

    @include respond-to('desktop') {
        flex-direction: row;
        padding: 170px 70px 70px 70px;
    }

    &__title {
        color: #484848;
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        text-align: left;

        @include respond-to('tablet') {
            text-align: center;
            font-size: 16px;
        }

        @include respond-to('desktop') {
            font-size: 20px;
        }
    }

    &__text {
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        margin: 0;
        text-align: left;

        @include respond-to('tablet') {
            text-align: center;
        }

        @include respond-to('desktop') {
            line-height: 26px;
            font-size: 16px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;

        @include respond-to('tablet') {
            align-items: center;
        }

        @include respond-to('desktop') {
            align-items: left;
        }

    }

    &__item {
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 40px;

        @include respond-to('tablet') {
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        @include respond-to('desktop') {
            gap: 13px;
            flex-direction: row;
            align-items: left;
        }


    }

    &__img {
        margin: auto 0;
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        background-image: url(../../img/mainPage/oppotunity/oppotunity-icon.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &--2 {
            background-image: url(../../img/mainPage/oppotunity/oppotunity-icon_2.svg);
        }

        &--3 {
            background-image: url(../../img/mainPage/oppotunity/oppotunity-icon_3.svg);
        }

        &--4 {
            background-image: url(../../img/mainPage/oppotunity/oppotunity-icon_4.svg);
        }

        @include respond-to('tablet') {
            width: 40px;
            height: 40px;
        }

        @include respond-to('desktop') {
            width: 50px;
            height: 50px;
        }
    }
}