@import '../../../_mixins.scss';

@font-face {
    font-family: 'Digital7Calculator';
    src: url('../../../fonts/DigitalNumbers-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.time-block {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20;
    margin: 0;

    grid-column: 1 / -1;

    @include respond-to('tablet') {
        grid-column: 1 / 3;
    }

    @include respond-to('desktop') {
        grid-column: 1 / 6;
    }

    &__title {
        font-size: 25px;
        font-weight: 500;
        font-family: "Volkhov", serif;
        color: #484848;
        margin: 0;
        padding: 0;

        @include respond-to('tablet') {
            font-size: 35px;
        }

        @include respond-to('desktop') {
            font-size: 42px;
        }
    }

    &__text {
        font-family: "Poppins", sans-serif;
        line-height: 18px;
        font-size: 12px;
        font-weight: 500;
        color: #8A8A8A;
        margin: 0;

        @include respond-to('tablet') {
            line-height: 22px;
            font-size: 14px;
        }

        @include respond-to('desktop') {
            line-height: 26px;
            font-size: 16px;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 20px 0 0 0;
        padding: 20px 70px;
        width: 100%;
        background-color: #000;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        @include respond-to('tablet') {
            font-size: 14px;
            padding: 20px 70px;
        }

        @include respond-to('desktop') {
            font-size: 16px;
            padding: 20px 70px;
            align-self: flex-start;
            width: auto;
        }
    }

}

.title-block {
    &__time {

        display: flex;
        flex-direction: column;
        gap: 15px;

        &--title {
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-weight: 600;
            color: #484848;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 15px;

            @include respond-to("laptop") {
                justify-content: space-between;
            }

            @include respond-to('desktop') {
                justify-content: start;
                gap: 30px;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &--number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                font-size: 20px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                font-family: 'Digital7Calculator', monospace;
                color: #484848;

                @include respond-to('desktop') {
                    width: 76px;
                    height: 76px;
                    font-size: 32px;
                }
            }

            &--title {
                font-size: 24px;
                font-weight: 500;
                line-height: 120%;
                font-family: "Poppins", sans-serif;
                color: #484848;
                align-items: center;
                text-align: center;

            }
        }



    }
}