$breakpoints: (
  'tablet': 639px,
  'desktop': 1024px,
  'desktop-wide': 1280px
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Брейкпоінт '#{$breakpoint}' не знайдено.";
  }
}

@mixin content-padding {
  padding-inline: 16px; 

  @include respond-to('tablet') {
    padding-inline: 32px;
  }

  @include respond-to('desktop') {
    padding-inline: 48px;
  }

  @include respond-to('desktop-wide') {
    padding-inline: 64px;
    margin-inline: auto;
  }
}